body {
  background-color: rgb(32,32,32);
}
#a {
 color: red;
position : sticky;
top:0px;
text-align:center;
z-index:1;
opacity:0.5;
}

h1 {
  clear: both;
font-family:"Comic Sans MS", cursive, sans-serif;
font-size:50px;
color:cyan;
text-decoration:underline;
text-align:center;
position: static;
top: 00px;}

p {
font-family: "Times New Roman", Times, serif;
  color: red;
font-size:30px;
 font-style: italic;
text-shadow: 1px 2px 5px green;
line-height:50px;

}  

#backhover {
position: relative;
top: 0px;
height : 100%;
width:100%;
}

#birdhover {

position: absolute;
top:210px;
right:200px;
height: 30%;
width:30%
}

#brandinghover {

position: absolute;
top:190px;
right:550px;
height:40%;
width:38%;
}

#BTI {
  padding:5px;
  margin: 7px;
  border: 2px solid blueviolet;
  float: left;
position: static;
width:50%;
height:600px;
}

#btitext {
  
  float: left;
position: static;

}

#PD {
  padding:5px;
  margin: 7px;
  border: 2px solid orange;
  float: right;
position: static;
width:50%;
height:700px;
}

#pdtext {
  float: right;
position: static;
top:20px;

}

#video {
position: static;
float: left;
padding:15px;
}

.galleryl{
  float: left;
  clear:left;
  padding:3px;
  margin: 5px;
  border: 5px solid green;
  border-radius: 8px;
  
  transition: transform 1s;
  
}
.galleryl:hover{

 
  transform: rotateZ(350deg);
  
}

.galleryr {
  float: right;
  clear:right;
  padding:3px;
  margin: 5px;
  border: 1px solid green;
  border-radius: 8px;
  animation-name: bordercolor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes bordercolor {
  0%   { margin:5px;border: 1px solid green;}
  25%  { margin:1px;border: 5px solid yellow;}
  50%  { margin:1px;border: 5px solid blue;}
  100% { margin:5px;border: 1px solid red;}
}

form {

   text-align: center;
}
label {
  font-family: "Times New Roman", Times, serif;
  color: red;
  font-size: 30px;
}